.main {
  padding: 30px 0 30px;
  margin-bottom: 50px;
  border-bottom: solid 1px grey;
}

.thankyou_text {
  font-size: 2.5rem;
}

.btnEmail {
  display: flex;
  background-color: #c7ffbc;
  color: black;
  padding: 10px 30px;
  margin: 30px auto 10px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.icon {
  margin-left: 10px;
}
